.arcade--asteroids {
  $spacing: 4px;

  $delta-font-size: 8px;
  $delta-line-height: 10px;
  $delta-line-height-hover: ($delta-line-height * 2);

  // the descriptor is on the cabinet class
  &.arcade__cabinet {
    padding-bottom: $delta-line-height-hover;
  }

  .arcade__display {
    // Nothing here
  }

  .arcade__marquee {
    background-image: none;

    @if $flynns-show-dropshadow {
      box-shadow: $flynns-arcade-dropshadow;
    }

    .specialshow & {
      border-bottom-width: 0;
    }
  }

  .arcade__info {
    width: 100%;
    position: absolute;
    bottom: 0;
  }

  .arcade__name {
    text-shadow: 0.5px 0.5px 1px #000000;
    color: #ffffff;
  }

  .arcade__rating {
    font-size: 12px;
    padding: 0 $spacing ($spacing / 2);
    line-height: 1;
  }

  .arcade__favorite {
    font-size: 18px;
    line-height: 1;
    padding-left: $spacing;

    @include grids {
      font-size: 20px;
    }
  }

  .arcade__details {

    .country, .age {
      color: #ffffff;
    }

    .spacer {
      color: #999999;
    }
  }

  .arcade__status {
    @include transition(line-height .1s);
    display: block;
    float: left;
    padding: 0;
    line-height: $delta-line-height;
    font-size: 8px;

    @include grids {
      font-size: 9px;
    }
  }

  .arcade__line--alpha {
    background: rgba(#000000, 0.5);
    padding: 0 $spacing;

    .high-def, .phone {
      display: none;
    }
  }

  .arcade__line--beta {
    position: absolute;
    bottom: 100%;

    .arcade__details,
    .arcade__status {
      display: none;
    }
  }

  .arcade__line--gamma {
    background: rgba(#000000, 0.5);
    height: 0;
    padding: 0 $spacing;
    will-change: padding, height;
    @include transition(padding .1s, height .1s);
    color: #ffffff;
    overflow: hidden;
  }

  .arcade__line--delta {
    @include clearfix;
    position: absolute;
    top: 100%;
    width: 100%;
    padding: 0 $spacing;
    vertical-align: middle;

    @if $flynns-show-dropshadow {
      box-shadow: $flynns-arcade-dropshadow;
    }

    .goldshow & {
      background: $flynns-goldshow-bg;
      color: $flynns-goldshow-color;
    }

    .partychat & {
      background: $flynns-partychat-bg;
      color: $flynns-partychat-color;
    }

    .online & {
      background: $flynns-online-bg;
      color: $flynns-online-color;
    }

    .offline & {
      background: $flynns-offline-bg;
      color: $flynns-offline-color;
    }

    .specialshow & {
      // Compensate for the 3px border.
      width: auto;
      left: -$flynns-special-spacing;
      right: -$flynns-special-spacing;

      background: $flynns-special-bg;
      color: $flynns-special-color;
    }

    .arcade__details {
      float: right;

      li {
        @include transition(line-height .1s);
        font-size: 8px;
        line-height: $delta-line-height;
      }
    }

    .arcade__favorite,
    .arcade__rating,
    .country, .age, .spacer {
      display: none;
    }
  }

  .arcade__marquee:hover {
    $hover-lh: 20px;

    @media (min-width: $screen-md) {

      // Status Hover Effect
      .arcade__line--gamma {
        height: (12 * 2) + $spacing / 2;
        padding-bottom: $spacing / 2;
      }

      .arcade__line--delta {
        .arcade__status {
          line-height: $hover-lh;
        }

        .arcade__details li {
          line-height: $hover-lh;
        }
      }
    }
  }
}
