.arcade--battlezone {
  $spacing: 4px;

  &.arcade__cabinet {
    @if $flynns-show-dropshadow {
      box-shadow: $flynns-arcade-dropshadow;
    }
  }

  .arcade__marquee {
    @include linear-gradient(
      to top,
      rgba(0, 0, 0, 1.00) 0%,
      rgba(0, 0, 0, 0.87) 5%,
      rgba(0, 0, 0, 0.25) 25%,
      rgba(0, 0, 0, 0.00) 100%
    );
    background-color: transparent;
  }

  .arcade__info {
    @include display(flex);
    @include flex-direction(column);
    @include justify-content(flex-end);
    @include align-items(stretch);
    width: 100%;
    height: 100%;
  }

  .arcade__name {
    color: $flynns-link-color;
  }

  .arcade__details {
    font-size: .8em;

    .high-def, .phone {
      color: #999;
      font-size: .8em;

      .text {
        line-height: 1;
      }
    }

    .spacer {
      color: #666;
    }

    .country, .age {
      color: $flynns-link-color;
    }

    .text, .icon {
      vertical-align: text-bottom;
    }
  }

  .arcade__favorite {
    float: right;
  }

  .arcade__rating {
    display: none;
  }

  .arcade__status {
    float: left;
    height: 15px;
    line-height: 15px;
    font-size: 9px;

    @include larger-grids {
      height: 18px;
      line-height: 18px;
      font-size: 10px;
    }

    .goldshow & {
      background: $flynns-goldshow-bg;
      color: $flynns-goldshow-color;
    }

    .partychat & {
      background: $flynns-partychat-bg;
      color: $flynns-partychat-color;
    }

    .online & {
      background: $flynns-online-bg;
      color: $flynns-online-color;
    }

    .offline & {
      background: $flynns-offline-bg;
      color: $flynns-offline-color;
    }

    .specialshow & {
      display: none;
    }
  }

  .arcade__line--alpha {
    @include flex(0 1 auto);
    @include order(1);
    padding: 0 $spacing;
  }

  .arcade__line--beta {
    @include flex(0 1 auto);
    @include order(0);
    @include clearfix;

    padding: 0 $spacing;
    line-height: 16px;
    margin-bottom: $spacing / 2;

    @include larger-grids {
      margin-bottom: $spacing;
    }

    .arcade__details {
      display: none;
    }
  }

  .arcade__line--gamma,
  .arcade__line--delta {
    display: none;
  }
}
