// Modifier Class
.arcade--centipede {
  $spacing: 6px;

  // Centipede Variables
  $centipede-headline-line-height: 12px;
  $centipede-headline-font-size: 10px;

  @function centipede_headline_height {
    @return ($centipede-headline-line-height * 2) + $spacing;
  }

  &.arcade__cabinet {
    padding-top: 16px;

    @include larger-grids {
      padding-top: 20px;
    }
  }

  .arcade__info {
    @include display(flex);
    @include flex-direction(column);
    @include justify-content(flex-end);
    @include align-items(stretch);

    $offset: $flynns-special-spacing + $flynns-alpha-height-small;
    margin-top: -($offset);
    height: unquote("calc(100% + #{$offset})");

    @include larger-grids {
      $offset: $flynns-special-spacing + $flynns-alpha-height-normal;
      margin-top: -($offset);
      height: unquote("calc(100% + #{$offset})");
    }
  }

  .arcade__line--alpha {
    @include align-self(flex-start);
  }

  .arcade__line--beta {
    @include flex(1 1 auto);
    @include order(0);

    @include display(flex);
    @include flex-direction(column);
    @include align-items(flex-start);
  }

  .arcade {

    &__headline {
      @include order(1);
    }

    &__rating {
      display: none;
    }

    &__display {
      @if $flynns-show-dropshadow {
        box-shadow: $flynns-arcade-dropshadow;
      }
    }

    &__line {

      // By default we want the headline to look like it's in a white box, so
      // standard padding rules apply.
      &--alpha {
        background: white;
        width: 100%;
        padding: 0 $spacing;

        // Always an exception to the rule.
        @include flynns_background_check {
          padding: 0;
        }

        .arcade__name {
          color: $flynns-link-color;
        }

        .arcade__details {

          .age, .country {
            color: $flynns-link-color;
          }

          .spacer .icon,
          .phone .icon,
          .high-def .text {
            color: #6f6f6f;
          }
        }
      }

      &--beta {

        .arcade__favorite {
          @include order(0);
          padding-left: $spacing;
        }

        .arcade__status {
          @include order(1);
          margin-left: $spacing;
          margin-bottom: $spacing;
          display: inline-block;

          .text {
            line-height: inherit;
          }
        }

        .arcade__ratings {
          display: none;
        }

        .arcade__details {
          display: none;
        }

        &.goldshow .arcade__status {
          background: $flynns-goldshow-bg;
          color: $flynns-goldshow-color;
        }

        &.online .arcade__status, {
          background: $flynns-online-bg;
          color: $flynns-online-color;
        }

        &.partychat .arcade__status{
          background: $flynns-partychat-bg;
          color: $flynns-partychat-color;
        }

        &.offline .arcade__status {
          background: $flynns-offline-bg;
          color: $flynns-offline-color;
        }
      }

      &--gamma {
        @include flex(0 1 auto);
        @include order(1);

        // Using tanslateZ to move the content to it's own blending layer.  This
        // prevents some flashing during the transitions.
        .arcade__headline {
          @include transform(translateZ(0));
          @include word-wrap(break-all);
          height: centipede_headline_height();
          padding: 0 $spacing $spacing;
          color: #ffffff;
        }
      }

      &--delta {
        display: none;
      }
    }
  }

  &.arcade--open {

    .arcade__marquee::before {
      @include flynns_arrow(82px, 21px, rgba(0, 0, 0, 0.75));
    }
    .arcade__marquee::after {
      @include flynns_arrow(80px, 20px, $flynns-link-color);
    }
  }

  &.is--special {
    .arcade__marquee {
      border-width: $flynns-special-spacing;
    }

    .arcade__status {
      display: none;
    }

    .arcade__line--alpha {
      bottom: 100%;
      left: -$flynns-special-spacing;
      right: -$flynns-special-spacing;
      width: auto;
      margin-bottom: $flynns-special-spacing;
    }
  }
}
