// @TODO
// When running out of space, for this layout, just stack everything
// on top of the status on the right.
//
// ❤
// ★★★★★
// party-chat
.arcade--excitebike {
  $spacing: 4px;
  $padding: 10px;
  $radius: 10px;
  $line-height: 20px;

  .arcade {

    // padding-bottom.
    $pb: 20px + $spacing + 7px; // Name Line Height + padding +  bubble space

    @if $flynns-hide-headline == false {
      $pb: $pb + (12 * 2); // Add some more space for the headline.
    }

    &__cabinet {
      margin-left: 10px;
      border-radius: $radius;
      border: 1px solid #a8a8a8;
      padding: $padding $padding $pb;
      background-color: white;

      @if $flynns-show-dropshadow {
        box-shadow: $flynns-arcade-dropshadow;
      }
    }

    &__status {
      position: absolute;
      left: -($padding + 1px + 10px);
      line-height: 16px;
      margin-bottom: $spacing;

      .text {
        color: white;
        text-shadow: 1px 1px 0px rgba(#000000, 0.4);
      }

      &::after {
        position: absolute;
        left: 0;
        top: 100%;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 10px 10px 0;
        content: '';
      }
    }

    &__details {
      .high-def {
        color: #999;

        @media (max-width: $screen-md - 1) {
          display: none;
        }
      }

      .phone {
        color: #999;

        @media (max-width: $screen-md - 1) {
          display: none;
        }
      }

      .spacer {
        color: #999;
      }

      .age {
        color: $flynns-link-color;
      }

      .country {
        color: $flynns-link-color;
      }
    }

    &__rating {
      @include flex(none);
      line-height: $line-height;
      margin-right: $spacing;
    }

    &__favorite {
      @include flex(none);
      line-height: $line-height;
      margin-right: $spacing;
    }

    &__info {
      position: absolute;
      top: 100%;
      width: 100%;
    }

    &__name {
      color: $flynns-link-color;
    }

    &__headline {
      padding: 0;
    }

    &__line {
      &--alpha {
        padding-top: $padding / 3;
      }

      &--beta {
        position: absolute;
        bottom: 100%;
        width: 100%;
        @include display(flex);
        @include flex-direction(row);
        @include align-items(stretch);
        @include justify-content(flex-end);

        &.goldshow .arcade__status {
          background: $flynns-goldshow-bg;
          &::after {
            border-color: transparent darken($flynns-goldshow-bg, 15%) transparent transparent;
          }
        }

        &.partychat .arcade__status {
          background: $flynns-partychat-bg;

          &::after {
            border-color: transparent darken($flynns-partychat-bg, 15%) transparent transparent;
          }
        }

        &.online .arcade__status {
          background: $flynns-online-bg;

          &::after {
            border-color: transparent darken($flynns-online-bg, 15%) transparent transparent;
          }
        }

        &.offline .arcade__status {
          background: $flynns-offline-bg;

          &::after {
            border-color: transparent darken($flynns-offline-bg, 15%) transparent transparent;
          }
        }

        .arcade__details {
          display: none;
        }
      }

      &--gamma {
        color: #999999;
        max-height: 24px;
      }

      &--delta {
        display: none;
      }
    }
  }

  &.arcade--open {
    .arcade__cabinet {

      &::before {
        @include flynns_arrow(84px, 22px, rgba(0, 0, 0, 0.75));
      }

      &::after {
        @include flynns_arrow(80px, 20px, white);
      }
    }
  }
}
