//- Status
.arcade__status: span.text {{program.status.text}}

//- Favorite
//- This ng-if is just to show scattered favorite icons across the
//- preview.
.arcade__favorite(ng-if="program.hd && program.country == 'US'")
  i.fa.fa-heart

//- Stars
.arcade__rating.ranks__box
  ul.ranks__list(class="ranks__{{program.rating.class}}")
    li.ranks__item: i.fa.ranks__point.point--1
    li.ranks__item: i.fa.ranks__point.point--2
    li.ranks__item: i.fa.ranks__point.point--3
    li.ranks__item: i.fa.ranks__point.point--4
    li.ranks__item: i.fa.ranks__point.point--5

//- HD, Phone, Country, Age
include _arcade_details
