.arcade__details
  ul
    li.hd(ng-if="program.hd"): span.small HD
    li.phone(ng-if="program.phone"): i.fa.fa-phone.small
    li.country {{program.country}}
    li.spacer: i.fa.fa-ellipsis-v
    li.age {{program.age}}
