//- Status
.arcade__status: .text {{program.status.text}}

//- Favorite
//- This ng-if is just to show scattered favorite icons across the
//- preview.
.arcade__favorite(ng-if="program.hd && program.country == 'US'")
  i.fa.fa-heart

//- Stars
.arcade__rating
  ul.five-points__list
    li.five-points__star: i.fa.five-points__point
    li.five-points__star: i.fa.five-points__point
    li.five-points__star: i.fa.five-points__point
    li.five-points__star: i.fa.five-points__point
    li.five-points__star: i.fa.five-points__point

//- HD, Phone, Country, Age
include _arcade_details
