//- The outer shell of the arcade, wrapping everything up into a nice box.
.arcade__cabinet(ng-class="{ \
    'gold-show': program.status.text == 'Gold Show', \
    'party-chat': program.status.text == 'Party Chat', \
    'online': program.status.text == 'Live Now', \
    'offline': program.status.text == 'Offline', \
  }")

  //- Another div, inside the cabinet.  This one is locked to specific
  //- aspect ratio.  The 4 divs inside this one, take up the same space, and
  //- are stacked on top of one another to create the layering effect.
  .arcade__display

    //- Static picture of the arcade.
    .arcade__static
      img(ng-src="{{program.image.src}}")

    //- The container that will hold the rollover previews.
    .arcade__screen

    //- The marquee is the primary container holding all the information
    //- about the arcade.  This is also the link to the next page, or the
    //- angular click handler.
    a.arcade__marquee(ng-controller="inlineClicker" ng-click="fire($index)")

      //- Another div, just for funsies, Good for allowing a group of content
      //- To move together.
      .arcade__info

        //- Primary grouped line.
        .arcade__line--alpha

          //- Name
          .arcade__name
            h3(onclick='function(e) {e.preventDefault(); e.stopPropagation(); return false;}') {{program.image.alt}}

          //- HD, Phone, Country, Age
          include _arcade_details

        //- The second grouped info line.  Status modifiers.
        .arcade__line--beta
          include _arcade_line_shared

        //- Just the headline.
        .arcade__line--gamma
          .arcade__headline: p {{program.headline}}

      //- Another row of hearts, stars, horseshoes, clovers, and balloons...
      //- This row is outside the .info block, so it can go anywhere it
      //- needs to.
      .arcade__line--delta
        include _arcade_line_shared

    //- This arcade is out of order.  Maybe you can fix it.
    .arcade__game-over

      //- JasonB's ticket.
