doctype html
html(lang="en")
  head
    link(href='http://fonts.googleapis.com/css?family=Raleway:300,200' rel='stylesheet' type='text/css')
    link(rel="stylesheet" href="/main.css")
    meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0,\
      user-scalable=no, minimal-ui")

    script(src="bower_components/jquery/dist/jquery.min.js")
    script(src="bower_components/bootstrap/dist/js/bootstrap.min.js")
    script(src="bower_components/angular/angular.js")
    script(src="app.js")

  body(ng-app="flynns")
    .navbar.navbar-default
    .container
      != yield
