doctype html
html(lang="en")
  head
    //- Metadata
    meta(name="viewport" content="width=device-width, initial-scale=1.0, \
      maximum-scale=1.0, user-scalable=no, minimal-ui")

    //- CSS
    link(rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css")
    link(rel="stylesheet" href="/main.css")

    //- JavaScript
    script(src="/bower_components/requirejs/require.js" data-main="app")

  body.catbus--left
    != yield
