//- The parent container / controller of the grid.
section.flynns(ng-controller="the-grid")

  //- The Grid.
  ul.the-grid

    //- A generic arcade.  Just add style.
    li.arcade.arcade--defender(ng-repeat="program in programs" ng-controller="eachThumb"
      ng-class="{'arcade--open': isopen}")

      include _arcade_cabinet

      include _arcade_player

  .grid--admin(grid-admin)
