.flynns
  - for (var i = 0; i < 5; ++i)
    li.arcade
      include arcades/_battlezone

  - for (var i = 0; i < 5; ++i)
    li.arcade
      include arcades/_centipede

  //- - for (var i = 0; i < 5; ++i)
  //-   li.arcade
  //-     include arcades/_battlezone
