.navbar.navbar-inverse.navbar-static-top(js-navbar-standard)
  .container-fluid
    .pull-left
      a.btn.navbar-btn.btn-default.catbus__button(js-catbus-button) Catbus Button

    .pull-right
      a.navbar-brand Standard Navbar


//- catbus
.catbus(js-catbus): .catbus__container
  nav.catbus__nav(js-catbus-nav)
    button.catbus__button.btn.btn-default(js-catbus-button) Catbus Button

  section.catbus__section
    include src/jade/_flynns

  img.catbus__tail(js-catbus-tail src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7")
