.flynns(ng-controller="the-grid")

  //- A generic arcade.  Just add style.
  li.arcade(ng-repeat="program in programs")

    //- Another div, will be used to put the inline player somewhere else.
    .arcade__cabinet

      //- The marquee is the primary container holding all the lines
      //- of information.
      .arcade__marquee

        //- The status line has the following:
        //- - Status
        //- - Favorite
        //- - Stars
        //- - Phone/HD
        .arcade__line.line--status.gold-show
          .arcade__status: span {{program.status.text}}
          .arcade__favorite: i.fa.fa-heart
          ul.arcade__details
            li.hd: i.fa.small HD
            li.phone: i.fa.fa-phone.small
            li.country EU
            li: i.fa.fa-ellipsis-v
            li.age 24

        //- The Name line has the following:
        //- - Name
        //- - Details
        //- - - Phone/HD
        //- - - Counrty
        //- - - Age
        .arcade__line.line--name
          h3.arcade__name: a(href="#noload") {{program.name.text}}
          ul.arcade__details
            li.hd: i.fa.small HD
            li.phone: i.fa.fa-phone.small
            li.country EU
            li: i.fa.fa-ellipsis-v
            li.age 24

        //- Just the headline.
        .arcade__line.line--headline
          p.arcade__headline {{program.headline}}

        //- Another row of hearts and starts
        //- .arcade__line.line--

      .arcade__screen
        img(ng-src="{{program.image.src}}")

      .controls

