// Bootstrap
$icon-font-path: "bower_components/bootstrap/dist/fonts/";
@import "bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap";

html {
  font-size: 14px;
}

$body-bg: white;
$page-gradient: false;

.container {
  padding: 0;
  margin: 0;
  width: 100%;
}

// Font-awesome
$fa-font-path: "bower_components/font-awesome/fonts/";
@import "bower_components/font-awesome/scss/font-awesome";

// Debug on?
$DEBUG: true;
$GOLD: #f5cb07;

h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway";
  font-weight: 300;

  &.thin {
    font-weight: 200;
  }
}

$flynns-arcade: centipede;
$flynns-grid-spacing: small;


// Flynns base
@import "src/build";
@import "src/ranks";
@import "src/junk";

body {
  background: $body-bg;
  @if $page-gradient {
    @include linear-gradient(top, rgba(254,255,255,1) 0%, rgba(221,241,249,1) 35%, rgba(160,216,239,1) 100%);
  }
}

