// Bootstrap
$icon-font-path: "bower_components/bootstrap/dist/fonts/";
@import "bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap";

html {
  font-size: 14px;
}

.container {
  padding: 0;
  margin: 0;
  width: 100%;
}

// Font-awesome
$fa-font-path: "bower_components/font-awesome/fonts/";
@import "bower_components/font-awesome/scss/font-awesome";

// Debug on?
$DEBUG: true;
$GOLD: #f5cb07;

// Flynns base
@import "src/build";
@import "src/five-points";

@import "src/junk";
