.arcade {
  $padding: 4px;

  &__cabinet {
    margin-bottom: 20px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.75);
  }

  &__info {
    width: 100%;
    position: absolute;
    bottom: 0;
  }

  &__name {
    h3 {
      color: white;
    }
  }

  &__rating {
    font-size: 12px;
    padding: 0 $padding $padding;
    line-height: 1;
  }

  &__favorite {
    font-size: 1.4em;
    line-height: 1;
    padding-left: $padding;
  }

  &__details {
    .arcade__line--alpha & {
      text-align: right;

      @media (max-width: $screen-md - 1) {
        width: 65px;
      }
    }

    .arcade__line--delta & {
      float: right;
    }

    .hd span {
      letter-spacing: (20em / 1000);
      font-weight: bold;
    }

    .country, .age {
      color: #ffffff;
    }

    .spacer {
      color: #999999;
    }
  }

  &__status {
    float: left;
  }

  &__line {
    &--alpha {
      background: rgba(#000000, 0.5);
      padding: $padding;

      .hd, .phone {
        display: none;
      }
    }

    &--beta {
      @include clearfix;
      position: absolute;
      bottom: 100%;

      .arcade__details,
      .arcade__status {
        display: none;
      }
    }

    &--gamma {
      background: rgba(#000000, 0.5);
      height: 0;
      padding: 0 $padding;
      will-change: padding, height;
      @include transition(padding .15s, height .15s);
      color: #ffffff;

      a:hover & {
        // .line--gamma line-height + half the padding
        height: (12 * 2) + $padding / 2;
        padding-bottom: $padding / 2;
      }
    }

    // .arcade__line--delta
    &--delta {
      @include transition(line-height .15s);
      @include clearfix;
      box-shadow: 0 1px 1px rgba(0, 0, 0, 0.75);
      position: absolute;
      top: 100%;
      font-size: 9px;
      width: 100%;
      padding: 0 $padding;
      line-height: 12px;
      color: #000000;
      text-transform: uppercase;
      vertical-align: middle;

      a:hover & {
        line-height: 20px;
      }

      .gold-show & {
        background: $GOLD;
      }

      .party-chat &, .online & {
        background: #3C0;
      }

      .offline & {
        background: black;
        text: white;
      }

      .arcade__favorite,
      .arcade__rating,
      .country, .age, .spacer {
        display: none;
      }
    }
  }
}
