.arcade--asteroids {
  $spacing: 4px;

  .arcade {

    &__cabinet {
      margin-bottom: 20px;

      @if $flynns-show-dropshadow {
        box-shadow: $flynns-arcade-dropshadow;
      }
    }

    &__display {
      @include transition(margin .5s);
      will-change: margin;
    }

    &__info {
      width: 100%;
      position: absolute;
      bottom: 0;
    }

    &__name {
      h3 {
        text-shadow: 0.5px 0.5px 1px #000000;
        color: white;
      }
    }

    &__rating {
      font-size: 12px;
      padding: 0 $spacing;
      line-height: 1;
    }

    &__favorite {
      font-size: 1.4em;
      line-height: 1;
      padding-left: $spacing;
    }

    &__details {
      .arcade__line--alpha & {
        text-align: right;
      }

      .arcade__line--delta & {
        float: right;
      }

      .country, .age {
        color: #ffffff;
      }

      .spacer {
        color: #999999;
      }
    }

    &__status {
      float: left;

      .text {
        display: inline-block;
      }
    }

    &__line {
      &--alpha {
        background: rgba(#000000, 0.5);
        padding: 0 $spacing;

        .high-def, .phone {
          display: none;
        }
      }

      &--beta {
        @include clearfix;
        will-change: bottom;
        @include transform(translateZ(0));
        position: absolute;
        bottom: 100%;


        .arcade__details,
        .arcade__status {
          display: none;
        }
      }

      &--gamma {
        background: rgba(#000000, 0.5);
        height: 0;
        padding: 0 $spacing;
        will-change: padding, height;
        @include transition(padding .1s, height .1s);
        color: #ffffff;
        overflow: hidden;

        @if $flynns-hide-headline {
          display: none;
        }
      }

      // .arcade__line--delta
      &--delta {
        @include transition(line-height .1s);
        @include clearfix;
        position: absolute;
        top: 100%;
        width: 100%;
        padding: 0 $spacing;
        line-height: 10px;
        color: #000000;
        vertical-align: middle;
        font-size: 9px;

        @if $flynns-show-dropshadow {
          box-shadow: $flynns-arcade-dropshadow;
        }

        &.goldshow {
          background: $flynns-goldshow-bg;
          color: $flynns-goldshow-color;
        }

        &.partychat {
          background: $flynns-partychat-bg;
          color: $flynns-partychat-color;
        }

        &.online {
          background: $flynns-online-bg;
          color: $flynns-online-color;
        }

        &.offline {
          background: $flynns-offline-bg;
          color: $flynns-offline-color;
        }

        &.specialshow {
          background: $flynns-special-bg;
          color: $flynns-special-color;
        }

        .arcade__details {
          float: right;
        }

        .arcade__favorite,
        .arcade__rating,
        .country, .age, .spacer {
          display: none;
        }
      }
    }
  }

  .arcade__marquee:hover {

    // Status Hover Effect
    .arcade__line--delta {
      line-height: 20px;
    }

    // Headline Hover
    .arcade__line--gamma {
      // .line--gamma line-height + half the padding
      height: (12 * 2) + $spacing / 2;
      padding-bottom: $spacing / 2;
    }
  }

  &.arcade--open {
    .arcade__display {
      margin-bottom: 40px;
    }

    .arcade__line--delta {
      &::before {
        @include flynns_arrow(84px, 21px, rgba(0, 0, 0, 0.75));
      }

      &::after {
        @include flynns_arrow(80px, 20px, $flynns-link-color);
      }

      &.goldshow::after {
        border-top-color: $flynns-goldshow-bg;
      }

      &.partychat::after {
        border-top-color: $flynns-partychat-bg;
      }

      &.online::after {
        border-top-color: $flynns-online-bg;
      }

      &.offline::after {
        border-top-color: $flynns-offline-bg;
      }

      &.specialshow::after {
        border-top-color: $flynns-special-bg;
      }
    }
  }

  &.is--special {
    .arcade__marquee {
      border-bottom-width: 0;
    }

    .arcade__line--delta {
      width: auto;
      left: -$flynns-special-border-width;
      right: -$flynns-special-border-width;
    }
  }
}
