.arcade--asteroids {
  $spacing: 4px;

  .arcade {

    &__cabinet {
      margin-bottom: 20px;
      box-shadow: 0 1px 1px rgba(0, 0, 0, 0.75);
    }

    &__info {
      width: 100%;
      position: absolute;
      bottom: 0;
    }

    &__name {
      h3 {
        color: white;
      }
    }

    &__rating {
      font-size: 12px;
      padding: 0 $spacing;
      line-height: 1;
    }

    &__favorite {
      font-size: 1.4em;
      line-height: 1;
      padding-left: $spacing;
    }

    &__details {
      .arcade__line--alpha & {
        text-align: right;
      }

      .arcade__line--delta & {
        float: right;
      }

      .country, .age {
        color: #ffffff;
      }

      .spacer {
        color: #999999;
      }
    }

    &__status {
      float: left;
    }

    &__line {
      &--alpha {
        background: rgba(#000000, 0.5);
        padding: 0 $spacing;

        .high-def, .phone {
          display: none;
        }
      }

      &--beta {
        @include clearfix;
        position: absolute;
        bottom: 100%;

        .arcade__details,
        .arcade__status {
          display: none;
        }
      }

      &--gamma {
        background: rgba(#000000, 0.5);
        height: 0;
        padding: 0 $spacing;
        will-change: padding, height;
        @include transition(padding .1s, height .1s);
        color: #ffffff;
        overflow: hidden;
      }

      // .arcade__line--delta
      &--delta {
        @include transition(line-height .1s);
        @include clearfix;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.75);
        position: absolute;
        top: 100%;
        font-size: 9px;
        width: 100%;
        padding: 0 $spacing;
        line-height: 12px;
        color: #000000;
        vertical-align: middle;

        &.goldshow {
          background: $flynns-gold-color;
        }

        &.partychat {
          background: $flynns-online-color;
        }

        &.online {
          background: $flynns-partychat-color;
        }

        &.offline {
          background: $flynns-offline-color;
          color: white;
        }

        .arcade__details {
          float: right;
        }

        .arcade__favorite,
        .arcade__rating,
        .country, .age, .spacer {
          display: none;
        }
      }
    }
  }

  .arcade__marquee:hover {

    // Status Hover Effect
    .arcade__line--delta {
      line-height: 20px;
    }
  
    // Headline Hover
    .arcade__line--gamma {
      // .line--gamma line-height + half the padding
      height: (12 * 2) + $spacing / 2;
      padding-bottom: $spacing / 2;
    }
  }
}
