.arcade {
  $padding: 4px;
  $link-color: $flynns-link-color;

  &__marquee {
    // @TODO JeffD
    @include linear-gradient(top, rgba(0,0,0,0) 75%,rgba(0,0,0,.85) 100%);
  }

  &__info {
    position: absolute;
    bottom: 0;
    width: 100%;
  }

  &__name {
    color: $link-color;
  }

  &__details {
    text-align: right;
    color: $link-color;

    @media (max-width: $screen-md - 1) {
      width: 65px;
    }

    .hd span {
      color: #999;
      font-weight: bold;

      @media (max-width: $screen-md - 1) {
        display: none;
      }
    }

    .phone {
      color: #999;

      @media (max-width: $screen-md - 1) {
        display: none;
      }
    }

    .spacer {
      color: #666;
    }
  }

  &__favorite {
    float: right;
    padding-right: $padding;

    i {
      vertical-align: bottom;
    }
  }

  &__rating {
    display: none;
  }

  &__status {
    float: left;
    padding: 0 $padding ($padding / 2);

    span {
      display: inline-block;
      font-size: 10px;
      line-height: 16px;
      padding: 0 ($padding * 2);
      font-weight: bold;

      .gold-show & {
        background: $GOLD;
        color: black;
      }

      .party-chat &, .online & {
        background: #3C0;
        color: black;
      }

      .offline & {
        background: black;
        text: white;
      }

    }
  }

  &__line {
    &--alpha {
      padding: 0 $padding $padding;
    }

    &--beta {
      position: absolute;
      bottom: 100%;
      width: 100%;

      .arcade__details {
        display: none;
      }
    }

    &--gamma {
      display: none;
    }

    &--delta {
      display: none;
    }
  }
}
