.arcade--battlezone {
  $spacing: 4px;
  $padding: $spacing;
  $link-color: $flynns-link-color;

  .arcade {

    &__cabinet {
      @if $flynns-show-dropshadow {
        box-shadow: $flynns-arcade-dropshadow;
      }
    }

    &__marquee {
      // @TODO JeffD
      @include linear-gradient(top, rgba(0,0,0,0) 75%,rgba(0,0,0,.85) 100%);
    }

    &__info {
      @include display(flex);
      @include flex-direction(column);
      @include justify-content(flex-end);
      @include align-items(stretch);
      width: 100%;
      height: 100%;
    }

    &__name {
      h3 {
        color: $flynns-link-color;
      }
    }

    &__details {

      .high-def {

        .text {
          color: #999;
        }

        @media screen and (max-width: $screen-md - 1) {
          display: none;
        }
      }

      .phone {
        color: #999;

        @media screen and (max-width: $screen-md - 1) {
          display: none;
        }
      }

      .spacer {
        color: #666;
      }

      .country {
        color: $flynns-link-color;
      }

      .age {
        color: $flynns-link-color;
      }
    }

    &__favorite {
      float: right;
    }

    &__rating {
      display: none;
    }

    &__status {
      float: left;

      .text {
        font-size: 8px;
        line-height: inherit;
        padding: 0 1.5em;
        font-weight: bold;
        display: block;
      }
    }

    &__line {
      &--alpha {
        @include flex(0 1 auto);
        @include order(1);

        padding: 0 $padding;
      }

      &--beta {
        @include flex(0 1 auto);
        @include order(0);
        @include clearfix;

        padding: 0 $spacing;
        line-height: 16px;

        .arcade__details {
          display: none;
        }

        &.goldshow .arcade__status .text {
          background: $flynns-goldshow-bg;
          color: $flynns-goldshow-color;
        }

        &.partychat .arcade__status .text {
          background: $flynns-partychat-bg;
          color: $flynns-partychat-color;
        }

        &.online .arcade__status .text {
          background: $flynns-online-bg;
          color: $flynns-online-color;
        }

        &.offline .arcade__status .text {
          background: $flynns-offline-bg;
          color: $flynns-offline-color;
        }
      }

      &--gamma {
        display: none;
      }

      &--delta {
        display: none;
      }
    }
  }

  &.arcade--open {
    .arcade__display {
      margin-bottom: 21px;
    }

    .arcade__marquee {
      &::before {
        @include flynns_arrow(84px, 21px, rgba(0, 0, 0, 0.75));
      }

      &::after {
        @include flynns_arrow(80px, 20px, $flynns-link-color);
      }

      &.goldshow::after {
        border-top-color: $flynns-goldshow-bg;
      }

      &.partychat::after {
        border-top-color: $flynns-partychat-bg;
      }

      &.online::after {
        border-top-color: $flynns-online-bg;
      }

      &.offline::after {
        border-top-color: $flynns-offline-bg;
      }

      &.specialshow::after {
        border-top-color: $flynns-special-bg;
      }
    }
  }
}
