// Centipede Configurable Variables
$centipede-padding: 6px !default;

// Centipede Variables
$centipede-headline-line-height: 12px;
$centipede-headline-font-size: 10px;

@function centipede_headline_height {
  @return ($centipede-headline-line-height * 2) + $centipede-padding;
}

// Centipede
.arcade {
  padding-top: 16px;

  img {
    max-width: 100%;
  }

  &:hover img {
    @include transform(scale(1.015));
  }

  &__line--delta,
  &__rating {
    display: none;  
  }

  &__display {
    box-shadow: 2px 2px 8px #ccc;
  }

  &__marquee {
    z-index: 50;
  }

  &__line {

    &--alpha {
      position: absolute;
      top: -16px;
      width: 100%;
      font-weight: bold;

      .arcade__name {
        font-size: 12px;
        line-height: 16px !important;
        letter-spacing: (-10em / 1000);

        // We only need the space here if the gutters are set to none
        @if $flynns-grid-size == none {
          padding-left: $centipede-padding;
        }

        h3 {
          @include ellipsis;
          color: $flynns-link-color;
          font-weight: bold;
        }
      }

      .arcade__details {
        position: absolute;
        right: 0;
        top: 0;
        margin: 0;
        font-size: 12px;
        list-style: none;
        text-align: right;
        line-height: 16px !important;

        // We only need the space here if the gutters are set to none
        @if $flynns-grid-spacing == none {
          padding-right: $centipede-padding;
        }

        li + li {
          margin-left: 0.25em;
        }

        .small {
          font-size: 80%;
        }

        .phone {
          color: #6f6f6f;
        }

        .age {
          color: $flynns-link-color;
          font-weight: bold;
        }

        .name {
          color: $flynns-link-color;
        }

        .country {
          color: $flynns-link-color;
          font-weight: bold;
        }

        .fa-ellipsis-v {
          color: #6f6f6f;
        }

        .hd span {
          font-weight: bold;
          color: #6f6f6f;
        }
      }
    }

    &--beta {
      position: absolute;
      bottom: 30px;

      .arcade__details {
        display: none;
      }

      .arcade__favorite {
        position: absolute;
        left: 0;
        bottom: 100%;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
        padding-left: $centipede-padding;

        .fa-heart {
          color: red;
        }
      }
    
      .arcade__status {
        float: left;
        padding-left: $centipede-padding;
        padding-bottom: $centipede-padding;

        span {
          padding: ($centipede-padding / 2) ($centipede-padding * 2) ($centipede-padding / 3);
          font-weight: bold;
          text-transform: uppercase;
          font-size: 8px;
          letter-spacing: (20em / 1000);

          .gold-show & {
            background: $flynns-gold-color;
            color: black;
          }

          .online &,
          .party-chat & {
            background: $flynns-partychat-color;
            color: white;
          }
          
          .offline & {
            background: $flynns-offline-color;
            color: white;
          }
        }
      }
    }

    &--gamma {
      position: absolute;
      bottom: 0;
      left: 0;

      .arcade__headline {
        // This puts the text on it's own blending layer, and stops it from
        // flashing during the transitions.
        @include transform(translateZ(0));
        @include word-wrap(break-all);
        text-align: justify;
        height: centipede_headline_height();
        padding: $centipede-padding;
        padding-top: 0;
        color: #ffffff;
      }
    }
  }
}
