// Centipede Configurable Variables
$centipede-padding: 6px !default;

// Centipede Variables
$centipede-headline-line-height: 12px;
$centipede-headline-font-size: 10px;

@function centipede_headline_height {
  @return ($centipede-headline-line-height * 2) + $centipede-padding;
}

// Centipede
.arcade--centipede {

  &.arcade--open {
    & .arcade__marquee::before {
      @include flynns_arrow(82px, 21px, rgba(0, 0, 0, 0.75));
    }
    & .arcade__marquee::after {
      @include flynns_arrow(80px, 20px, $flynns-link-color);
    }
  }

  &.is--special .arcade__marquee {
    border-width: 3px;  

    & .arcade__line--alpha {
      top: -23px;    
      left: -3px;
      right: -3px;  
      width: auto;
    }

    & .arcade__special {
      color: #fff;
      padding: ($centipede-padding / 2) ($centipede-padding * 2) ($centipede-padding / 3);
      font-weight: bold;
      text-transform: uppercase;
      font-size: 8px;
      letter-spacing: (20em / 1000);
    }
  }

  .arcade {

    &__cabinet {
      padding-top: 16px;
    }

    img {
      max-width: 100%;
    }

    &__line--delta,
    &__rating {
      display: none;  
    }

    &__display {
      @if $flynns-show-dropshadow {
        box-shadow: $flynns-arcade-dropshadow;
      }
    }

    &__line {

      &--alpha {
        position: absolute;
        right: 0;
        top: -20px;
        margin: 0;
        font-size: 12px;
        text-align: right;
        width: 100%;

        .arcade__name {
          @include ellipsis;

          h3 {
            color: $flynns-link-color;
            text-align: left;
            line-height: 22px !important;
          }
        }

        .arcade__details {
          float: right;
          margin: 0;
          text-align: right;

          li + li {
            margin-left: 0.25em;
          }

          .small {
            font-size: 80%;
          }

          .age,
          .name,
          .country {
            color: $flynns-link-color;
          }

          .phone,
          .fa-ellipsis-v {
            color: #6f6f6f;
          }

          .high-def span {
            font-weight: bold;
            color: #6f6f6f;
          }
        }
      }

      &--beta {
        position: absolute;
        bottom: 30px;

        .arcade__details {
          display: none;
        }

        .arcade__favorite {
          position: absolute;
          bottom: 100%;
          padding-left: $centipede-padding;

          .fa-heart {
            color: red;
          }
        }

        &.goldshow .arcade__status div {
          background: $flynns-goldshow-bg;
          color: $flynns-goldshow-color;
        }

        &.online .arcade__status div,
        &.partychat .arcade__status div{
          background: $flynns-partychat-bg;
          color: $flynns-online-color;
        }
        
        &.offline .arcade__status div {
          background: $flynns-offline-color;
          color: $flynns-offline-color;
        }

        .arcade__status {
          float: left;
          padding-left: $centipede-padding;
          padding-bottom: $centipede-padding;

          div {
            padding: ($centipede-padding / 2) ($centipede-padding * 2) ($centipede-padding / 3);
            font-weight: bold;
            text-transform: uppercase;
            font-size: 8px;
            letter-spacing: (20em / 1000);
          }
        }
      }

      &--gamma {
        position: absolute;
        bottom: 0;
        left: 0;

        .arcade__headline {
          // This puts the text on it's own blending layer, and stops it from
          // flashing during the transitions.
          @include transform(translateZ(0));
          @include word-wrap(break-all);
          height: centipede_headline_height();
          padding: $centipede-padding;
          padding-top: 0;
          color: #ffffff;

          @if $flynns-hide-headline {
            display: none;
          }
        }
      }
    }
  }
}
