// Centipede Configurable Variables
$centipede-padding: 6px !default;

// Centipede Variables
$centipede-headline-line-height: 12px;
$centipede-headline-font-size: 10px;

@function centipede_headline_height {
  @return ($centipede-headline-line-height * 2) + $centipede-padding;
}

// Centipede
.arcade--centipede {

  .gold-show .arcade__line--beta .arcade__status span {
    background: $flynns-gold-color;
    color: black;
  }

  .online .arcade__line--beta .arcade__status span,
  .party-chat .arcade__line--beta .arcade__status span {
    background: $flynns-partychat-color;
    color: white;
  }
  
  .offline .arcade__line--beta .arcade__status span {
    background: $flynns-offline-color;
    color: white;
  }

  .arcade {

    &__cabinet {
      padding-top: 16px;
    }

    img {
      max-width: 100%;
    }

    &__line--delta,
    &__rating {
      display: none;  
    }

    &__display {
      box-shadow: 2px 2px 8px #ccc;
    }

    &__line {

      &--alpha {
        position: absolute;
        right: 0;
        top: 0;
        margin: 0;
        font-size: 12px;
        list-style: none;
        text-align: right;
        line-height: 16px !important;

        .arcade__name {
          line-height: 16px !important;
          @include ellipsis;

          // We only need the space here if the gutters are set to none
          @if $flynns-grid-size == none {
            padding-left: $centipede-padding;
          }

          h3 {
            color: $flynns-link-color;
          }
        }

        .arcade__details {
          float: right;
          margin: 0;
          text-align: right;
          line-height: 16px !important;

          // We only need the space here if the gutters are set to none
          @if $flynns-grid-size == none {
            padding-right: $centipede-padding;
          }

          li + li {
            margin-left: 0.25em;
          }

          .small {
            font-size: 80%;
          }

          .age,
          .name,
          .country {
            color: $flynns-link-color;
          }

          .phone,
          .fa-ellipsis-v {
            color: #6f6f6f;
          }

          .hd span {
            font-weight: bold;
            color: #6f6f6f;
          }
        }
      }

      &--beta {
        position: absolute;
        bottom: 30px;

        .arcade__details {
          display: none;
        }

        .arcade__favorite {
          position: absolute;
          left: 0;
          bottom: 100%;
          padding-left: $centipede-padding;

          .fa-heart {
            color: red;
          }
        }
      
        .arcade__status {
          float: left;
          padding-left: $centipede-padding;
          padding-bottom: $centipede-padding;

          span {
            padding: ($centipede-padding / 2) ($centipede-padding * 2) ($centipede-padding / 3);
            font-weight: bold;
            text-transform: uppercase;
            font-size: 8px;
            letter-spacing: (20em / 1000);
          }
        }
      }

      &--gamma {
        position: absolute;
        bottom: 0;
        left: 0;

        .arcade__headline {
          // This puts the text on it's own blending layer, and stops it from
          // flashing during the transitions.
          @include transform(translateZ(0));
          @include word-wrap(break-all);
          height: centipede_headline_height();
          padding: $centipede-padding;
          padding-top: 0;
          color: #ffffff;
        }
      }
    }
  }
}
