// Defender global variables
$padding: 4px;

.arcade--defender {

  .gold-show .arcade__line--beta .arcade__status span {
    background: $flynns-gold-color;
    color: black;

    &::after {
      @include status_flag($flynns-gold-color);
    }
  }

  .online .arcade__line--beta .arcade__status span,
  .party-chat .arcade__line--beta .arcade__status span {
    background: $flynns-online-color;
    color: white;

    &::after {
      @include status_flag($flynns-online-color);
    }
  }

  .offline .arcade__line--beta .arcade__status span {
    background: $flynns-offline-color;
    color: white;

    &::after {
      @include status_flag($flynns-offline-color);
    }
  }

  .arcade {
    &__cabinet {
      padding-bottom: $padding + 50px;
    }

    &__line {
      &--alpha {
        background: white;
        position: absolute;
        top: 100%;
        width: 100%;
        color: $flynns-link-color;

        .arcade__details {
          .hd, .phone, .spacer {
            color: #6f6f6f;
          }

          .hd span {
            font-weight: bold;
          }

          .spacer {
            font-size: 75%;
            color: #cccccc;
          }
        }
      }

      &--beta {
        position: absolute;
        top: 10px;
        bottom: 0;
        left: 0;
        width: 100%;

        .arcade__details ul {
          display: none;  
        }

        .arcade__status {
          position: relative;
          margin-left: -10px;

          span {
            position: relative;
            font-weight: bold;
            text-transform: uppercase;
            font-size: 10px;
            letter-spacing: (20em / 1000);
            padding: 3px 20px 2px;

            &::after {
              position: absolute;
              left: 0;
              top: 100%;
              width: 0;
              height: 0;
              border-style: solid;
              border-width: 0 10px 10px 0;
              content: '';
            }
          }
        }

        .arcade__favorite {
          position: absolute;
          left: -10px;
          margin-top: 12px;
        }

        .fa-heart {
          background-color: #000000;  
          padding: $padding + 1;
          border-radius: 12px;
        }

        .arcade__rating {
          padding-left: $padding;
          position: absolute;
          bottom: 0;
        }
      }

      &--gamma {
        color: #666;
        position: absolute;
        bottom: -54px;
        height: 30px;
      }

      &--delta {
        display: none;
      }
    }
  }
}
