//- Status
.arcade__status #{program.StatusKey}

//- Favorite
//- This ng-if is just to show scattered favorite icons across the
//- preview.
if program.Favorite
  .arcade__favorite
    i.fa.fa-heart

//- Stars
//- .arcade__rating.ranks__box
  ul.ranks__list.ranks__2
    li.ranks__item: i.fa.ranks__point.point--1
    li.ranks__item: i.fa.ranks__point.point--2
    li.ranks__item: i.fa.ranks__point.point--3
    li.ranks__item: i.fa.ranks__point.point--4
    li.ranks__item: i.fa.ranks__point.point--5

//- HD, Phone, Country, Age
include _arcade_details
