.arcade__status #{arcade.StatusKey}

.arcade__favorite: i.fa.fa-heart

//- Stars
.arcade__rating.ranks__box

  - var rounded = (Math.round(arcade.Rating * 2) / 2).toFixed(1)
  - rounded = rounded.replace(/\.5/, '--half')
  - rounded = rounded.replace(/\.0/, '')

  ul.ranks__list(class="ranks__#{rounded}")
    li.ranks__item: i.fa.ranks__point.point--1
    li.ranks__item: i.fa.ranks__point.point--2
    li.ranks__item: i.fa.ranks__point.point--3
    li.ranks__item: i.fa.ranks__point.point--4
    li.ranks__item: i.fa.ranks__point.point--5

include _arcade_details
