ul.arcade__details
  if program.HD
    li.high-def: span.text HD

  if program.Phone
    li.phone: i.fa.fa-phone.icon

  li.country: span #{program.Country}
  li.spacer: i.fa.fa-ellipsis-v.icon
  li.age: span #{program.Age}
