.pull-right
  .btn-group.navbar-btn(data-toggle="buttons"
    js-flynns-grid-control)

    label#small.btn.btn-default
      input(type="radio" name="grid" value="small")
      | Small
    label#medium.btn.btn-default
      input(type="radio" name="grid" value="medium")
      | Medium
    label#large.btn.btn-default
      input(type="radio" name="grid" value="large")
      | Large

  .btn-group.navbar-btn(data-toggle="buttons" js-program-controls)
    label#asteroids.btn.btn-default
      input(type="radio" name="program" value="asteroids")
      | Asteroids

    label#battlezone.btn.btn-default
      input(type="radio" name="program" value="battlezone")
      | Battlezone

    label#centipede.btn.btn-default
      input(type="radio" name="program" value="centipede")
      | Centipede

    label#defender.btn.btn-default
      input(type="radio" name="program" value="defender")
      | Defender

    label#excitebike.btn.btn-default
      input(type="radio" name="program" value="excitebike")
      | Excitebike

    label#frogger.btn.btn-default
      input(type="radio" name="program" value="frogger")
      | Frogger
