//- The parent container / controller of the grid.
section.flynns.grid--small

  //- The Grid.
  ul.the-grid

    each program, i in realfakedata

      - program.StatusKey = i === 0 ? 'specialshow' : program.StatusKey

      //- A generic arcade.  Just add style.
      li: .arcade(class="#{program.StatusKey}")
        include _arcade_cabinet
