// Ratings.
$ranks-color: gold !default;

// This mixin outpus the content based on the current rating and point number.
// Takes an optional boolean for including half stars.
@mixin get_content($p, $r, $half: false) {
  $next: $r + 1;
  @if ($p > $next) {
    content: $fa-var-star-o;
  } @else if $p == $next {
    @if $half {
      content: $fa-var-star-half-o;
    } @else {
      content: $fa-var-star-o;
    }
  } @else if $p < $next {
    content: $fa-var-star;
  }
}

// The basic structure for the ranks class is a simple `ul > li(x5) > i`,
// with an optional container.  There are no real styles that come with
// the container
//
// ```html
// <div class="ranks__box">
//   <ul class="ranks__list ranks__{number}[--half]">
//     <li class="ranks__item"><i class="ranks__point point--1"></i></li>
//     <li class="ranks__item"><i class="ranks__point point--2"></i></li>
//     <li class="ranks__item"><i class="ranks__point point--3"></i></li>
//     <li class="ranks__item"><i class="ranks__point point--4"></i></li>
//     <li class="ranks__item"><i class="ranks__point point--5"></i></li>
//   </ul>
// </div>
// ```


.ranks {
  
}

// Container
.ranks__box {
  margin: 0;
  padding: 0;
}

// List
.ranks__list {
  @include clearfix;
  margin: 0;
  padding: 0;
  list-style: none;
}

// List Item
.ranks__item {
  display: block;
  float: left;

  & + & {
    margin-left: 2px;
  }
}

// Icon
.ranks__point {
  color: $ranks-color;
  text-shadow: 0 0 2px darken($ranks-color, 15%);
  font-size: 10px;

  @include larger-grids {
    font-size: 12px;
  }
}

// Loop through all the ratings
@each $r in 5, 4, 3, 2, 1, 0 {

  // We don't need to include the half-rating for 5, so lave it out.
  @if $r < 5 {

    // The second selector is to support the existing codebase.
    .ranks__#{$r}--half, .rating#{$r}_half {

      // Loop through the each of the point markers, and include the content.
      @each $p in 1, 2, 3, 4, 5 {
        .point--#{$p}::before {
          @include get_content($p, $r, true)
        }
      }
    }
  }

  // Same as above, but with out the half.
  .ranks__#{$r}, .rating#{$r} {
    @each $p in 1, 2, 3, 4, 5 {
      .point--#{$p}::before{
        @include get_content($p, $r)
      }
    }
  }
}
