//- Battlezone!
.battlezone

  .marquee
    .line
      .status: span.gold-show Gold Show
      .favorite: i.fa.fa-heart
    .line
      h3.name Emma_Eddie_Lovvit
      ul.details
        li.hd: i.fa.small HD
        li.phone: i.fa.fa-phone.small
        li.country EU
        li.age.fa.fa-ellipsis-v 24

  .screen
    img(src="//placehold.it/640x480")

  .controls

